* {
    font: inherit;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

h1 {
    font-weight: bold;
    font-size: 64pt;
    text-align: end;
}

h2 {
    font-size: 16pt;
}

body {
    background: linear-gradient(90deg, black, #474747);
    color: white;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 4rem;

    transition: ease all 0.5s;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transition: ease all 0.5s;
}

.social-media-link {
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background: transparent;
    color: white;

    border: 1px solid white;
    border-radius: 3rem;

    padding: 1rem;

    width: 100%;
    height: 5rem;

    transition: opacity .25s;
}

.social-media-link:hover {
    opacity: .60;
}

@media only screen and (min-width: 484px) {
    h2 {
        font-size: 24pt;
    }
}

@media only screen and (min-width: 895px) {
    h2 {
        font-size: 32pt;
    }

    .presentation {    
        margin-top: 15rem;
    }

    .links {
        flex-direction: row;
    }

    .social-media-link {
        width: 15rem;
    }
}